runtime-manager-deployment/src/main/mule/runtime-manager-deployment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9c29be0c-ed58-4532-a430-f84270a05e4c" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="fb9a4f96-d11d-4ccf-b1ed-9f226ec94286" file="config.yaml" />
	<flow name="runtime-manager-deploymentFlow" doc:id="43f576dc-07f1-4b0f-a837-3387b5161f4a" >
		<http:listener doc:name="Listener" doc:id="dbcc79a7-9eaa-4e28-a165-65b8638f6c18" config-ref="HTTP_Listener_config" path="/test2"/>
		<set-payload value="Hello World 2" doc:name="Set Payload" doc:id="01cd221c-c475-47d3-9aef-a7c11706cdd3" />
		<logger level="INFO" doc:name="Logger" doc:id="4fcbe4ff-3abe-43fe-ba8a-aba43c1288a5" message="#[payload]"/>
	</flow>
</mule>
